.tela-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    display: none;
    background-color: #E5E5E5;
}

* {
    box-sizing: border-box;
}


.displayNone{
    display: none;
}

.quizz-name{
    width: 100%;
    height: 227px;
    position: relative;
    margin-bottom: 42px;
}

.quizz-name div{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.quizz-name img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quizz-questions{
    height: auto;
}

.quizz-questions > div{
    width: 759px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 28px 35px;
}

.ask{
    width: 690px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 23px;
    margin: 0 auto;
    text-align: center;
}

.options{
    width: 690px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.option{
    width: 330px;
    height: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
}

.option div{
    width: 100%;
    flex-wrap: wrap;
}

.option img{
    width: 100%;
    height: 175px;
    margin-bottom: 10px;
    object-fit: cover;
}

.option,.restart,.back:hover{
    cursor: pointer;
}

.right{
    color: #009C22;
}

.wrong{
    color: #FF4B4B;
}

.ofuscado{
    opacity: 0.3;
}

.result{
    width: 759px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 16px;
    
}

.result .nota{
    width: 727px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #EC362D;
    font-size: 23px;
}

.final{
    width: 727px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.final img{
    width: 364px;
    height: 273px;
    object-fit: cover;
}

.final div{
    width: 328px;
    height: auto;
    font-size: 19px;
    font-weight: 700;
    color: #484848
}

.restart{
    background-color: #EC362D;
    color: #FFF5F4;
    width: 260px;
    height: 52px;
    margin-top: 57px;
    margin-bottom: 15px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.back{
    background-color: #FAFAFA;
    color: #818181;
    width: 260px;
    height: 52px;
    margin-bottom: 80px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

@media screen and (max-width: 1100px){
    .tela-2{
        margin: 80px auto 0;
    }
    .quizz-name{
        width: 375px;
        height: 142px;
        margin-bottom: 24px;
    }
    .quizz-name div{
        font-size: 19px;
    }
    .quizz-questions > div{
        width: 375px;
        margin-bottom: 28px;
        padding: 17.5px;
    }
    .ask{
        width: 340px;
        height: 89px;
        font-size: 19px;
        padding: 10px;
        text-align: center;
    }
    .options{
        width: 340px;
    }
    .option{
        width: 163px;
        margin-top: 13px;
        font-size: 13px;
    }
    .option img{
        height: 113px;
        margin-bottom: 5px;
    }
    .result{
        width: 375px;
        height: auto;
        padding: 18px 17.5px;
    }
    .result .nota{
        width: 340px;
        height: 99px;
        font-size: 19px;
        padding: 10px;
        text-align: center;
    }
    .final{
        width: 340px;
        margin-top: 9px;
        flex-direction: column;
    }
    .final img{
        width: 100%;
        height: 255px;
        object-fit: cover;
    }
    .final div{
        width: 100%;
        height: auto;
        font-size: 17px;
        font-weight: 700;
        color: #484848;
        margin-top: 9px;
    }
    .restart{
        width: 220px;
        height: 44px;
        margin-top: 34px;
        margin-bottom: 8px;
        font-size: 18px;
    }
    .back{
        width: 220px;
        height: 44px;
        margin-bottom: 50px;
        font-size: 18px;
    }

}
